# EDA

# Import Data

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set(rc={'figure.figsize':(22,8)})

In [45]:
train = pd.read_csv(f"data/processed/processed_train.csv", index_col=0)
test = pd.read_csv(f"data/processed/processed_test.csv", index_col=0)

train

,date,family,onpromotion,typeholiday,dcoilwtico,state,typestores,cluster,sales
0,2013-01-01,AUTOMOTIVE,0,Holiday,93.14,Pichincha,D,13,0.000
1,2013-01-01,BABY CARE,0,Holiday,93.14,Pichincha,D,13,0.000
2,2013-01-01,BEAUTY,0,Holiday,93.14,Pichincha,D,13,0.000
3,2013-01-01,BEVERAGES,0,Holiday,93.14,Pichincha,D,13,0.000
4,2013-01-01,BOOKS,0,Holiday,93.14,Pichincha,D,13,0.000
...,...,...,...,...,...,...,...,...,...
2175817,2017-08-15,POULTRY,0,Holiday,47.57,Pichincha,B,6,438.133
2175818,2017-08-15,PREPARED FOODS,1,Holiday,47.57,Pichincha,B,6,154.553
2175819,2017-08-15,PRODUCE,148,Holiday,47.57,Pichincha,B,6,2419.729
2175820,2017-08-15,SCHOOL AND OFFICE SUPPLIES,8,Holiday,47.57,Pichincha,B,6,121.000
2175821,2017-08-15,SEAFOOD,0,Holiday,47.57,Pichincha,B,6,16.000

In [46]:
for i in train:
    print(f"column {i}: {train[i].unique()}")

column date: ['2013-01-01' '2013-01-02' '2013-01-03' ... '2017-08-11' '2017-08-14'
 '2017-08-15']
column family: ['AUTOMOTIVE' 'BABY CARE' 'BEAUTY' 'BEVERAGES' 'BOOKS' 'BREAD/BAKERY'
 'CELEBRATION' 'CLEANING' 'DAIRY' 'DELI' 'EGGS' 'FROZEN FOODS' 'GROCERY I'
 'GROCERY II' 'HARDWARE' 'HOME AND KITCHEN I' 'HOME AND KITCHEN II'
 'HOME APPLIANCES' 'HOME CARE' 'LADIESWEAR' 'LAWN AND GARDEN' 'LINGERIE'
 'LIQUOR,WINE,BEER' 'MAGAZINES' 'MEATS' 'PERSONAL CARE' 'PET SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'POULTRY' 'PREPARED FOODS' 'PRODUCE'
 'SCHOOL AND OFFICE SUPPLIES' 'SEAFOOD']
column onpromotion: [  0   3   5   1  56  20  19   2   4  18  17  12   7   6  10   9  50   8
  16  42  51  15  47  21  40  37  54  24  13  58  22  59  11  45  25  55
  26  43  35  14  28  46  36  32  53  57  27  39  41  30  29  49  23  48
  44  38  31  52  33  34  61  60 116  86  73 113 102  68 104  93  70  92
 121  72 178 174 161 118 105 172 163 167 142 154 133 180 181 173 165 168
 186 140 149 145 169 188  62  84 111  65 107  63 101  87 125  94 114 171
 153 170 166 141 155 179 192 131 147 151 189  79  74 110  64  67  99 123
 157 117 150 182 162 160 194 135 190  69 108  89 126 156 103 146 132 177
 164 176 112  75 109  91 128 175 187 148 137 184 196 144 158 119 106  66
 100  90 120 115  98 159 152 185 139 143  80 124  71 134 193  78  88 122
 130  81  97 138 191  76  96 198  82  95 195 183 199 200 201 197  77  83
 136 205 204 202 129 206  85 209 211 207 208 203 210 127 213 212 218 216
 217 214 222 220 223 229 225 228 224 231 215 233 230 235 227 221 226 219
 289 245 609 261 304 639 489 299 243 630 476 655 446 286 633 435 302 644
 470 237 626 507 317 624 474 240 672 306 600 383 293 258 646 444 305 642
 452 313 252 664 481 277 307 264 684 479 255 657 441 283 628 469 276 464
 677 420 247 629 424 290 269 716 473 253 254 678 496 275 282 741 512 236
 234 244 239 238 242 232 249 250 241 251 391 539 411 486 407 330 697 246
 467 263 591 248 519 425]
column typeholiday: ['Holiday' nan 'Additional' 'Normal' 'Event']
column dcoilwtico: [93.14 92.97 93.12 ... 48.81 47.59 47.57]
column state: ['Pichincha' 'Cotopaxi' 'Chimborazo' 'Imbabura'
 'Santo Domingo de los Tsachilas' 'Bolivar' 'Pastaza' 'Tungurahua'
 'Guayas' 'Santa Elena' 'Los Rios' 'Azuay' 'Loja' 'El Oro' 'Esmeraldas'
 'Manabi']
column typestores: ['D' 'C' 'B' 'E' 'A']
column cluster: [13 15  6  7  3 12 16  9  1 10  8  2  4  5 11 14 17]
column sales: [0.000000e+00 2.000000e+00 8.100000e+02 ... 4.381330e+02 1.545530e+02
 2.419729e+03]

In [47]:
train.isna().sum()

date                 0
family               0
onpromotion          0
typeholiday    1822986
dcoilwtico           0
state                0
typestores           0
cluster              0
sales                0
dtype: int64

In [50]:
train['date'] = pd.to_datetime(train['date'])